address {
  font-style: normal;
}

.final-collapsible-section[dir="rtl"],
.final-collapsible-content[dir="rtl"] {
  direction: rtl;
  text-align: right;
}

.final-collapsible-section[dir="ltr"],
.final-collapsible-content[dir="ltr"] {
  direction: ltr;
  text-align: left;
}
