%Image::ExifTool::UserDefined = (
  'Image::ExifTool::XMP::Main' => {
    entity => {
      SubDirectory => {
        TagTable => 'Image::ExifTool::UserDefined::EntityMetadata',
      },
    },
  },
);

%Image::ExifTool::UserDefined::EntityMetadata = (
  GROUPS => { 0 => 'XMP', 1 => 'XMP-entity', 2 => 'Image' },
  NAMESPACE => {
    entity => 'https://www.ghezelbaash.ir/ns/entity-metadata/2026/',
  },
  WRITABLE => 'string',
  AspectRatio => { },
  CanonicalPersonIRI => { },
  CanonicalPersonWebIRI => { },
  CanonicalClinicIRI => { },
  CanonicalClinicWebIRI => { },
  GoogleKnowledgeGraphPersonID => { },
  GoogleKnowledgeGraphClinicID => { },
  GoogleMapsPlaceID => { },
  GoogleMapsCID => { },
  ClinicGooglePlaceID => { },
  ClinicGoogleMapsCID => { },
  ClinicGoogleKnowledgeGraphID => { },
  PersonGoogleKnowledgeGraphID => { },
  ClinicFounder => { },
  ClinicOwner => { },
  ClinicOperator => { },
  PersonWorkLocation => { },
  Latitude => { },
  Longitude => { },
  PostalCode => { },
  StreetAddress => { },
  ImageRole => { },
  TruthAuthority => { },
  MetadataProfileVersion => { },
);

1;
