---
import { getFaqQuestionsForPathname } from '~/data/schema/schemaProjection';
const questions = getFaqQuestionsForPathname(Astro.url.pathname);
---

<div id="faq">
  {questions.map((question) => <div>{question.name}: {question.text}</div>)}
</div>
