---
import { getFaqQuestionsForPathname } from '~/data/schema/schemaProjection';
const questions = getFaqQuestionsForPathname(Astro.url.pathname);
---

{questions.length > 0 && <div>{questions.length}</div>}
